
/**
 * Modals
 */
.sle-modal {
	background-color: #F1F1F1;
}

/* Place the modal and tinymce modals on top */
.remodal-wrapper {
	z-index: 2147483647; /* max int32 z-index */
}

.mce-panel, #wp-link-wrap {
	z-index: 2147483647 !important; /* max int32 z-index */
}

/**
 * Link editing input
 */
.sle-input {
	width: 50%;
	margin: 20px 0;
	padding: 3px 5px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #32373c;
	outline: 0;
	-webkit-transition: 50ms border-color ease-in-out;
	transition: 50ms border-color ease-in-out;
}

/**
 * Hover for editable elements
 */
[class^="sle-editable-"]:hover,
[class*=" sle-editable-"]:hover,
[class^="sle-editable-"].sle-hover,
[class*=" sle-editable-"].sle-hover {
	outline: solid 1px #4C99E8 !important;
}

.sle-editable-text:hover {
	cursor: default;
}

/**
 * Editing icons
 */
.sle-edit-icon {
	display: none;
	position: absolute;
	height: 31px;
	width: 31px;
	border: transparent solid 1px;
	border-radius: 100%;
	font-size: 21px;
	line-height: 31px;
	text-align: center;
	text-decoration: none !important;
	vertical-align: top;
	overflow: hidden;
	transition: none;
	border-color: transparent;
	background: #23282D;
	color: #eee;
	z-index: 2147483647; /* max int32 z-index */
}

.sle-edit-icon:hover {
	color: #00b9eb;
	display: block;
}

.sle-edit-icon:before {
	font: 400 20px/1 dashicons;
	position: relative;
	top: 2px;
}

.sle-edit-icon--pen:before {
	content: "\f464";
}

.sle-edit-icon--link:before {
	content: "\f103";
}

.sle-edit-icon--picture:before {
	content: "\f128";
}

.sle-edit-icon--video:before {
	content: "\f236";
}

/**
 * Sortable
 */
.sle-sortable-ghost {
	height: 10px !important;
	background: #4C99E8 !important;
	color: transparent !important;
}

.sle-sortable-ghost * {
	display: none !important;
}