/**
 * Don't display the sle-modal on load
 */
.sle-modal {
	display: none;
}

/**
 * Link editing input
 */
.sle-input {
	width: 50%;
	margin: 20px 0;
	padding: 3px 5px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #32373c;
	outline: 0;
	-webkit-transition: 50ms border-color ease-in-out;
	transition: 50ms border-color ease-in-out;
}

/**
 * Place the thicbox modal on top
 */
#TB_window,
.TB_overlayBG {
	z-index: 999999999 !important;
}

#TB_window {
	background-color: #eee !important;
}

/**
 * Hover for editable elements
 */
[class^="sle-editable-"]:hover,
[class*=" sle-editable-"]:hover,
[class^="sle-editable-"].sle-hover,
[class*=" sle-editable-"].sle-hover {
	outline: solid 1px #4C99E8 !important;
}

.sle-editable-text:hover {
	cursor: default;
}

/**
 * Editing icons
 */
.sle-edit-icon {
	display: none;
	position: absolute;
	height: 31px;
	width: 31px;
	border: transparent solid 1px;
	border-radius: 100%;
	font-size: 21px;
	line-height: 31px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	overflow: hidden;
	transition: none;
	border-color: transparent;
	background: #23282D;
	color: #eee;
	z-index: 999999999;
}

.sle-edit-icon:hover {
	color: #00b9eb;
	display: block;
}

.sle-edit-icon--pen:before {
	content: "\f464";
	font: 400 20px/1 dashicons;
	position: relative;
	top: 2px;
}

.sle-edit-icon--link:before {
	content: "\f103";
	font: 400 20px/1 dashicons;
	position: relative;
	top: 2px;
}